---
http_interactions:
- request:
    method: get
    uri: http://production.shippingapis.com/ShippingApi.dll?API=RateV4&XML=%3CRateV4Request%20USERID=%27030STUDE3810%27%3E%0A%20%20%20%20%20%20%20%20%3CPackage%20ID=%271ST%27%3E%0A%20%20%20%20%20%20%20%20%20%20%3CService%3EPRIORITY%3C/Service%3E%0A%20%20%20%20%20%20%20%20%20%20%3CZipOrigination%3E80211%3C/ZipOrigination%3E%0A%20%20%20%20%20%20%20%20%20%20%3CZipDestination%3E90201%3C/ZipDestination%3E%0A%20%20%20%20%20%20%20%20%20%20%3CPounds%3E69%3C/Pounds%3E%0A%20%20%20%20%20%20%20%20%20%20%3COunces%3E4%3C/Ounces%3E%0A%20%20%20%20%20%20%20%20%20%20%3CContainer%3ESM%20FLAT%20RATE%20BOX%3C/Container%3E%0A%20%20%20%20%20%20%20%20%20%20%3CSize%3EREGULAR%3C/Size%3E%0A%20%20%20%20%20%20%20%20%3C/Package%3E%0A%20%20%20%20%20%20%3C/RateV4Request%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - '3083580461'
      Ntcoent-Length:
      - '451'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateV4Response><Package ID="1ST"><ZipOrigination>80211</ZipOrigination><ZipDestination>90201</ZipDestination><Pounds>69</Pounds><Ounces>4</Ounces><Container>SM FLAT RATE BOX</Container><Size>REGULAR</Size><Zone>5</Zone><Postage CLASSID="28"><MailService>Priority Mail 3-Day&amp;lt;sup&amp;gt;&amp;#8482;&amp;lt;/sup&amp;gt; Small Flat Rate Box</MailService><Rate>7.20</Rate></Postage></Package></RateV4Response>
  recorded_at: Thu, 15 Feb 2018 23:21:12 GMT
recorded_with: VCR 4.0.0
