

<% @stores.each do |store| %>
<div class="store">
  Name: <%= store.name %>
  <% if current_user.platform_admin? %>
  Status: <%= store.status %>
  <%= button_to "Activate", store_path(store, update_status: "Active"), method: :patch %>
  <% end %>
</div>
<% end %>
