<%= link_to "new store", new_store_path %>

<% @stores.each do |store| %>
  <div class="store">
    <%= link_to store.name, store_path(store) %>
    <p>Status: <%= store.status %></p>
    <%= store.link_to_twitter %>
  </div>
<% end %>
