<h3>Create your new password</h3>

<%= form_for :password_reset, url: "new-password" do |f| %>

  <%= f.password_field :new_password %><br />
  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Submit"%>
<% end %>
