<div class="center-block" style= "width: 15rem;">
  <div class="alert alert-primary alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= flash_messages %>
  </div>
</div>
