    <footer>
      <div class="container" style="margin-top: 25px;">
        <div class="row">
          <legend />
          <p class= "footer-center">
            © Copyright 2018-2019
            | <%= link_to "Turing School of Software & Design", "https://www.turing.io/"  %>
            | <%= link_to 'Developer', developer_path %>
          </p>
        </div>
      </div>
    </footer>
