<td><%= link_to "Cancel", order_path(order, status: "cancelled"), method: :put, class: "badge badge-warning"%></td>
<td><%= link_to "Mark as Paid", order_path(order, status: "paid"), method: :put, class: "badge badge-success" %></td>
