<div class="container">
  <h3><%= viewer.first_name %>'s  Cart</h3>
  <h6><%= link_to "Continue Shopping", root_path %></h6>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% render @order_items %>
    </tbody>
  </table>
    <div class="total">
      <p><b>Total: <%= cart.total_price %></b></p>
    </div>
    <div class="checkout">
      <%= checkout %>
    </tbody>
  </table>
</div>
