<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">My Stores</a>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <p class="card-text">
        You've been a member since <%= viewer.created_at %>. Yay!
        The e-mail address we have on file is <%= viewer.email %>.
      </p>
      <a href="/items" class="btn btn-primary">Shop our onesies</a>
    </div>
  </div>
</div>
