.small{
  size: 10px;
}
footer{
  float: bottom;
}
.successfully_removed {
  color: green;
}
.alert{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  text-align: center;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.logo a:hover{
  text-decoration: none;
  color: #333;
}

div.container {
  width:1200px;
  height:auto;
  padding: 5px;

}

a {
  color: black;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#left-nav-margin{
  margin-left: 500px;
  display:flex;
}



#left {
  text-align: left;
  float: left;
}
#right {
  text-align: right;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.hero {
  width: 800px;
}

.v-right{
  border-right: 1px solid grey;
  border-bottom: 0px solid grey;
  height:30px;
}

.badge-secondary{
  margin-right:10px;
}

.nav-item{
  margin-top:25px;
}

.nav-right{
  margin-top: 25px;
}

.v-left{
  border-left:1px solid grey;
  height: 30px;
}
