// moved from <style> tag in cart#show
.cart_image{
  width: 3em;
  height: 4em;
}

.checkout{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.total{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
h2{
  text-align: center;
  font-size: 3em;
}
// end of <style> tag


.small{
  size: 10px;
}
footer{
  float: bottom;
}
.successfully_removed {
  color: green;
}
.alert{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  text-align: center;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.logo a:hover{
  text-decoration: none;
  color: #333;
}

div.container {
  width:1200px;
  height:auto;
  padding: 5px;

}

a {
  color: black;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#left-nav-margin{
  margin-left: 400px;
  display:flex;
}



#left {
  text-align: left;
  float: left;
}
#right {
  text-align: right;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
}

.hero {
  width: 800px;
}

.v-right{
  border-right: 1px solid grey;
  border-bottom: 0px solid grey;
  height:30px;
}

.badge-secondary{
  margin-right:10px;

}

.nav-item{
  margin-top:25px;
}

.nav-right{
  margin-top: 25px;
}

.v-left{
  border-left:1px solid grey;
  height: 30px;
}

.nav-link.dropdown-toggle{
  color: #4EA7BF;
}

.dropdown-item{
  color: #4EA7BF;
}

.btn{
  color: #4EA7BF;
}

.nav-link.active{
  color: #985DAF;
}

.teal{
  color:#4ea7bf;
}

#pop-items{
  color: #985DAF;
}

.badge.badge-primary{
  color: #4ea7bf;
  background-color: white;
}

.footer-center{
  margin-left: 300px;
}

.stripe-payment {
  display: flex;
  justify-content: center;
}

.stripe-button {
  background-color: #DCDCDC;
  padding: 7%;
  font-weight: bolder;
  border: 4px black solid;
}

.center-chat-show{
  display:flex;
  margin-left: 450px;
  flex-direction: column;
}

.display-message{
  margin-right: 20px;
}

.chatroom-index{
  display:flex;
  flex-direction:column;
  text-align:center;
}
