<div class="admin-tabs">
  <%= link_to "Analytics", admin_analytics_path, class: "nav-item nav-link" %>
  <%= link_to "Stores", admin_stores_path, class: "nav-item nav-link" %>
  <%= link_to "Orders", admin_orders_path, class: "nav-item nav-link" %>
</div>
