<div class="center-block" style= "width: 15rem;">
  <div class="alert alert-primary alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <% flash.each do |name, msg| %>
      <div class="<%=name%>"><%=raw(msg)%></div>
    <% end %>
  </div>
</div>
